@model IEnumerable<WebApplication3.Models.RaceWithHandicap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetitionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandicapDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandicapDuration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RaceWithHandicapId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RaceWithHandicapId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RaceWithHandicapId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
